.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007b36;
}

.form-login {
  width: 35%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
  border-radius: 4px;
}

.form-login .form-input {
  width: 85%;
  height: 35px;
  padding: 5px;
  margin-bottom: 18px;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 3px;
}

.form-login .submit-button {
  width: 30%;
  height: 35px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007b36;
  border: none;
  border-radius: 2px;
  transition: .2s;
}

.form-login .submit-button:hover {
  opacity: .8;
  cursor: pointer;
}