.password-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.password-container .password-button {
  width: 48%;
  height: 28px;
  font-size: 16px;
  color: #fff;
  background-color: #007b36;
  border: none;
  border-radius: 2px;
  transition: .2s;
}

.password-container .password-button:hover {
  opacity: .8;
  cursor: pointer;
}