.form-team {
  width: 40%;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
  border-radius: 4px;
}

.form-team .form-input,
.form-team .form-select {
  width: 85%;
  height: 35px;
  padding: 5px;
  margin-bottom: 18px;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 3px;
}

.form-team .button-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-team .submit-button {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007b36;
  border: none;
  border-radius: 2px;
  transition: .2s;
}

.form-team .submit-button:hover {
  opacity: .8;
  cursor: pointer;
}