.menu {
  min-height: 70px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}

.menu img {
  width: 80px;
}

.menu .list-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .list-menu a {
  margin: 0 10px;
  color: #007b36;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: .2s;
}

.menu .list-menu a:hover {
  opacity: .8;
}

/* toggle menu */
.menu .menu-toggle {
  z-index: 10000;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 28px;
  height: 25px;
  border-radius: 5px;
}

.menu-toggle .one,
.menu-toggle .two,
.menu-toggle .three {
  display: block;
  width: 100%;
  border-bottom: 2px solid #007b36;
  transition: .3s;
}

.menu-toggle.on .one,
.menu-toggle.on .two,
.menu-toggle.on .three {
  transition: .3s;
}

.menu .menu-toggle.on .one {
  transform: rotate(45deg) translate(7px, 10px);
  transition: .4s;
}

.menu .menu-toggle.on .two {
  opacity: 0;
  transition: .4s;
}

.menu .menu-toggle.on .three {
  transform: rotate(-45deg) translate(1px, -4px);
  transition: .4s;
}

.menu .menu-toggle-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
}

.menu .menu-toggle-section.on {
  visibility: visible;
  opacity: 1;
}

.menu .menu-toggle-section ul {
  list-style: none;
}

.menu .menu-toggle-section ul li {
  margin-bottom: 10px;
}

.menu .menu-toggle-section ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

/* responsive code */
@media (max-width: 700px) {
  .menu .list-menu {
    display: none;
  }

  .menu .menu-toggle {
    display: flex;
  }
}