* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, button, input {
  font-family: 'Montserrat', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .content {
  min-height: calc(100vh - 135px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007b36;
}