.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .8);
}

.modal-container .close-button {
  font-weight: bold;
  font-size: 20px;
  float: right;
  margin-bottom: 15px;
  margin-right: 4px;
  transition: .2s;
}

.modal-container .close-button:hover {
  cursor: pointer;
  opacity: .8;
}

.modal-container .modal-content {
  width: 500px;
  height: 600px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.modal-container .modal-content .data-list {
  width: 87%;
  margin: 20px 0;
}

.modal-container .modal-content .list-item {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item .item-buttons button {
  margin: 0 5px;
  padding: 5px;
  color: #fff;
  background-color: #007b36;
  border: none;
  border-radius: 2px;
  transition: .2s;
}

.list-item .item-buttons button:hover {
  opacity: .8;
  cursor: pointer;
}