.footer {
  min-height: 65px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul li {
  margin: 0 15px;
}