.form-awards {
  width: 40%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
  border-radius: 4px;
}

.form-awards .form-input {
  width: 85%;
  height: 35px;
  padding: 5px;
  margin-bottom: 18px;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 3px;
}

.form-awards .form-resume {
  width: 85%;
  margin-bottom: 18px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 2px;
  resize: none;
  font-size: 15px;
}

.form-awards .button-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-awards .submit-button {
  width: 100%;
  height: 35px;
  margin: 5px 0;
  font-size: 16px;
  color: #fff;
  background-color: #007b36;
  border: none;
  border-radius: 2px;
  transition: .2s;
}

.form-awards .submit-button:hover {
  opacity: .8;
  cursor: pointer;
}